<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ALL_BUILD.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>RUN_TESTS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>ZERO_CHECK.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>test_gui.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>test_gui_automoc.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>unittests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>unittests_automoc.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>vtdraw.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>vtdraw_automoc.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>vtscript.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>vtscript_automoc.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0E5078DD239B47B490EAC8C2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0F351A272E454DE78DED04DA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>10A5B368134D4BF8B6597C4F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2AA5A57D21C248959689D430</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2DFACC7EC0C641C9B169BF05</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4F89B20C257D4CABAD631992</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5249BCA36BB541478F7DB51C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70EEDE0ECACB447DA0A2A596</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B7800F7200CC4A4EB7897030</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C7EA8E88D9BA40EAA779DC87</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D7A4BB47DBBA4BC1A2C50DDC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
